* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.left {
    background-color: #C11F32;
    display: grid;
    place-items: center;
}

.left-container {
    text-align: center;
    color: white;
    padding: 25px;
}

button {
    margin: 10px 10px;
    padding: 10px 25px;
    background-color :#C11F32;
    color: white;
    filter: drop-shadow(4px 5px white);
    border: 2px solid white;
}

.bold {
    font-weight: bold;
}

button:hover {
    background-color :#ec3c51;
    color: white;
    filter: drop-shadow(4px 5px white);
    border: 2px solid white;
}

button:focus {
    outline: none;
}

.main-heading {
    margin-bottom: 10px;
}

p {
    margin: 30px 0;
}

.right {
    background-color: azure;
    display: grid;
    place-items: center;
    position: relative;
}

.bg-responsive {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #C11F32;
    width: 50%;
    height: 100vh;
}

.right-container {
    display: grid;
    place-items: center;
    position: relative;
}

.etch-body {
    position: absolute;
    width: 65vw;
    max-width: 50vw;
    height: 65vw;
    max-height: 50vw;
    z-index: 1;
}

.etch-knob {
    position: absolute;
    z-index: 3;

    width: 20vw;
    max-width: 6vw;
    height: 20vw;
    max-height: 6vw;
}

.knob-left {
    margin-top: 31vw;
    margin-left: -30vw;
}

.knob-right {
    margin-bottom: -25vw;
    margin-right: -27vw;
}

.screen {
    width: 45vw;
    max-width: 30vw;
    height: 45vw;
    max-height: 30vw;

    position: absolute;
    z-index: 2;
    transform: skew(-1deg, -6deg) scale(0.88);
    margin-top: -1vw;
    margin-left: -2px;

    border: 0.5px solid white;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.rowContainer {
    height: 100%;
    display: flex;
    align-content: stretch;
}

.grid-box {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.black {
    background-color: black;
}