@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    background-color: #C11F32;
    display: grid;
    place-items: center;
    position: relative;
}

.left-container {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 25px;
}

button {
    margin: 10px 10px;
    padding: 10px 25px;
    background-color :#C11F32;
    color: white;
    filter: drop-shadow(4px 5px white);
    border: 2px solid white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.bold {
    font-weight: bold;
}

button:hover {
    background-color :#ec3c51;
    color: white;
    filter: drop-shadow(4px 5px white);
    border: 2px solid white;
}

button:focus {
    outline: none;
}

.main-heading {
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

.underline {
    text-decoration: none; 
    position: relative; 
}  

.underline:after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: white;
}

.tagline {
    margin-top: 20px;
}

p {
    margin: 30px 0;
}

.right {
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
}

.right-container {
    left: -5vw;;
    display: grid;
    place-items: center;
    position: relative;
}

.bg-responsive {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -4vw;
    bottom: 0;
    background-color: #C11F32;
    width: 50%;
    height: 100vh;
}

.etch-body {
    position: absolute;
    width: 65vw;
    max-width: 50vw;
    height: 65vw;
    max-height: 50vw;
    z-index: 1;
}

.etch-knob {
    position: absolute;
    z-index: 3;

    width: 20vw;
    max-width: 6vw;
    height: 20vw;
    max-height: 6vw;
}

.knob-left {
    margin-top: 31vw;
    margin-left: -30vw;
}

.knob-right {
    margin-bottom: -25vw;
    margin-right: -27vw;
}

.screen {
    width: 45vw;
    max-width: 30vw;
    height: 45vw;
    max-height: 30vw;

    position: absolute;
    z-index: 2;
    transform: skew(-1deg, -6deg) scale(0.88);
    margin-top: -1vw;
    margin-left: -2px;

    border: 0.5px solid white;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.rowContainer {
    height: 100%;
    display: flex;
    align-content: stretch;
}

.grid-box {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

.black {
    background-color: black;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .main-heading {
        font-size: 3em;
    }

    p {
        font-size: 0.8em;
    }

    button {
        font-size: 0.75em;
    }

    .bg-responsive {
        left: 0;
        height: 50%;
        width: 100vw;
    }

    .right-container {
        left: 0;
    }

    .screen {
        width: 60vw;
        max-width: 45vw;
        height: 60vw;
        max-height: 45vw;
    
        margin-top: -1vw;
        margin-left: -2px;
    
        border: 0.5px solid white;
        border-radius: 2%;
    
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    .etch-body {
        width: 90vw;
        max-width: 75vw;
        height: 90vw;
        max-height: 75vw;
    }

    .etch-knob {
        width: 30vw;
        max-width: 9vw;
        height: 30vw;
        max-height: 9vw;
    }

    .knob-left {
        margin-top: 46vw;
        margin-left: -46vw;
    }

    .knob-right {
        margin-bottom: -37vw;
        margin-right: -41vw;
    }
}